<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <link rel="stylesheet" href="/assets/css/admin/list.css" />
        <link rel="stylesheet" href="/assets/css/admin/nav.css" />
        <script defer src="/assets/js/admin/itemlist.js"></script>
    </head>
    <body>
        <%- include('../components/header_admin.html') -%>
        <div id="contentWrap">
            <!--왼쪽 네비게이션 -->
            <%- include('../components/admin_nav.html') -%>

            <!-- 오른쪽 컨텐츠영역 -->
            <div id="rightBox">
                <!-- 내역 박스 -->
                <div class="title-box">
                    <p>상품리스트 관리</p>
                    <div class="button-box">
                        <a href="/admin/additem"><button>상품 추가</button></a>
                    </div>
                </div>

                <!-- 리스트 -->
                <div>
                    <table id="adminList">
                        <thead>
                            <tr>
                                <th style="width: 16%">번호</th>
                                <th style="width: 14%">카테고리</th>
                                <th>상품명</th>
                                <th style="width: 14%">가격</th>
                                <th style="width: 16%">상품삭제</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../components/footer.html') -%>
        <script src="/assets/js/common.js"></script>
    </body>
</html>
