<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <link rel="stylesheet" href="/assets/css/admin/list.css" />
        <link rel="stylesheet" href="/assets/css/admin/nav.css" />
    </head>
    <body>
        <%- include('../components/header_admin.html') -%>
        <div id="contentWrap">
            <!--왼쪽 네비게이션 -->
            <%- include('../components/admin_nav.html') -%>

            <!-- 오른쪽 컨텐츠영역 -->
            <div id="rightBox">
                <!-- 내역 박스 -->
                <div class="title-box">
                    <p>사용자리스트</p>
                </div>

                <!-- 리스트 -->
                <div>
                    <table id="adminList">
                        <thead>
                            <tr>
                                <th style="width: 20%">번호</th>
                                <th style="width: 20%">이름</th>
                                <th>이메일</th>
                                <th style="width: 20%">상태</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../components/footer.html') -%>
        <script src="/assets/js/common.js"></script>
        <script src="/assets/js/admin/users.js"></script>
    </body>
</html>
