<html>
    <head>
        <title>커피런 - 커피</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/error.css" />
    </head>
    <body>
        <%- include('../components/header.html') -%>
        <div id="wrap">
            <img src="/assets/img/error.png" alt="error" class="error-mark" />
            <div class="text-box">
                <p>에러가 발생했습니다!</p>
                <p>요청하신 페이지를 찾을 수 없습니다.</p>
            </div>
            <a href="/" class="to-home">홈으로 이동</a>
        </div>
        <%- include('../components/footer.html') -%>
    </body>
</html>
