<nav class="left-nav">
    <h2 class="mypage-h2">마이페이지</h2>
    <ul id="subMenuMypage">
        <li class="main-li">
            <span class="title">나의쇼핑</span>
            <ul class="sub-depth1">
                <li>
                    <a href="/mypage">주문목록/배송조회</a>
                </li>
            </ul>
        </li>
        <li class="main-li">
            <span class="title">상품문의</span>
            <ul class="sub-depth1">
                <li>
                    <a href="#">1:1 문의하기</a>
                </li>
                <li>
                    <a href="#">문의내역 확인</a>
                </li>
            </ul>
        </li>

        <li class="main-li">
            <span class="title">나의정보</span>
            <ul class="sub-depth1">
                <li><a href="/mypage/user_info">회원정보 변경 / 회원탈퇴</a></li>
            </ul>
        </li>
        <!-- <li class="main-li">
            <span class="title">혜택관리</span>
            <ul class="sub-depth1">
                <li><button class="active" onclick="upComingFeatureAlert()">쿠폰 내역</button></li>
            </ul>
        </li> -->
    </ul>
</nav>
