body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
}
#header .header-right .search-form {
    border: none;
}
.container {
    width: 1280px;
    margin: 50px auto 0;
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: space-between;
}

/*  왼쪽 nav 영역 */
.left-nav {
    width: 162px;
}

#subMenuMypage {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mypage-h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}
.main-li {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding: 0 0 10px;
}

.sub-depth1 {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-depth1 li {
    margin-bottom: 10px;
}

/* 오른쪽 컨텐츠 영역 */
.order-check {
    margin-bottom: 30px;
}
.content-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}
.order-box {
    width: 978px;
    height: 115px;
    border-radius: 10px;
    background-color: honeydew;
}

.order-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 118px 30px;
}
.arrow-li {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 19px;
}
.order-check ul li p {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.search-form {
    display: block;
    width: 976px;
    height: 100px;

    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 60px;
}

.form-search {
    margin: 30px 50px;
    display: flex;
    justify-content: flex-start;
}
.check {
    width: 34px;
    height: 17px;
    margin: auto 0;
    margin-right: 30px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.period-btn {
    width: 70px;
    height: 40px;
    padding: 10px 10px;
    color: black;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.wave {
    margin: auto 6px;
}
#start-date,
#end-date {
    width: 150px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    text-align: left;
    font-size: 14px;
    padding: 0 10px;
}
#start-date {
    margin-left: 20px;
}
#end-date {
    margin-right: 30px;
}

#search-button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #288341 url(/assets/img/white_search.png) no-repeat;
    background-size: 24px 24px;
    background-position: center;
    cursor: pointer;
}

.button-box {
    text-align: right;
}
.button-box button {
    width: 100px;
    height: 36px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color: #288341;
    border: none;
    border-radius: 2px;
    color: white;
    margin-bottom: 20px;
}

/* 리스트 영역 */

#mypageList {
    width: 976px;
    margin-top: 10px;
    border-spacing: 0;
    margin-bottom: 60px;
}
thead {
    height: 30px;
}
thead tr th {
    border-top: 1px solid black;
    padding: 16px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #fbfbfb;
}

tbody tr td {
    background-color: white;
    height: 50px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding: 16px;
}

#mypageList .text_align_left {
    text-align: left;
    padding: 20px 20px 20px 40px;
}

#mypageList .text_align_left p {
    margin-top: 10px;
    text-align: right;
    color: #a5a5a5;
}
#mypageList .order-item {
    text-align: left;
}
.order-status span {
    width: 70px;
    display: inline-block;
    text-align: left;
}
.order-status button {
    height: 32px;
    cursor: pointer;
    margin-left: 4px;
}
.cancel-button {
    height: 32px;
    cursor: pointer;
}
