body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 1280px;
    margin: 50px auto 0;
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: space-between;
}

/*  왼쪽 nav 영역 */
.left-nav {
    width: 162px;
}

#subMenuMypage {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mypage-h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}
.main-li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #000;
    padding: 0 0 10px;
}

.sub-depth1 {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sub-depth1 li {
    margin-bottom: 10px;
}

/* 오른쪽 컨텐츠 영역 */
.order-check {
    margin-bottom: 30px;
}
.content-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}
.order-box {
    width: 978px;
    height: 115px;
    border-radius: 10px;
    background-color: honeydew;
}

.order-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 118px 30px;
}
.arrow-li {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 19px;
}
.order-check ul li p {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.search-form {
    display: block;
    width: 976px;
    height: 100px;

    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 60px;
}

.form-search {
    margin: 30px 50px;
    display: flex;
    justify-content: flex-start;
}
.check {
    width: 34px;
    height: 17px;
    margin: auto 0;
    margin-right: 30px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.period-btn {
    width: 70px;
    height: 40px;
    padding: 10px 10px;
    color: black;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.wave {
    margin: auto 6px;
}
#start-date,
#end-date {
    width: 150px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: #fff;
    text-align: left;
    font-size: 14px;
    padding: 0 10px;
}
#start-date {
    margin-left: 20px;
}
#end-date {
    margin-right: 30px;
}

#search-button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #288341 url(/assets/img/white_search.png) no-repeat;
    background-size: 24px 24px;
    background-position: center;
    cursor: pointer;
}

.button-box {
    text-align: right;
}
.button-box button {
    width: 100px;
    height: 36px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    background-color: #288341;
    border: none;
    border-radius: 2px;
    color: white;
    margin-bottom: 20px;
}
#maypage-list {
    border-collapse: collapse;
    width: 976px;

    margin-top: 10px;
    border-top: 2px solid black;
}
#maypage-list th {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    height: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #fbfbfb;
}

#maypage-list td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

#maypage-list .text_align_left {
    text-align: left;
    padding: 20px 20px 20px 40px;
}

#maypage-list .text_align_left p {
    margin-top: 10px;
    text-align: right;
    color: #a5a5a5;
}
#maypage-rows {
    border-bottom: 1px solid #ddd;
}
#maypage-rows tr {
    border-bottom: 1px solid #ddd;
}
#maypage-rows tr:hover {
    background-color: #f5f5f5;
}

.clicked {
    display: none;
}
.cancle-btn,
.modify-btn {
    width: 68px;
    height: 35px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #d74646;
    background-color: #d7464600;
    margin: auto;
    cursor: pointer;
    color: #d74646;
    font-size: 12px;
}
.cancle-btn:hover {
    background: #d74646;
    color: #fff;
    border: #fff;
}
.modify-btn {
    border: 1px solid #414641;
    color: #414641;
}
.modify-btn:hover {
    background: #414641;
    color: #fff;
}

/* 모달버튼 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
}

.info-button {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.edit-btn {
    background: #288341;
    border-radius: 5px;
    border: none;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    float: left;
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
