<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>커피런 - 회원정보 변경</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/mypage/mypage.css" />
        <link rel="stylesheet" href="/assets/css/mypage/inquiry.css" />
    </head>
    <body>
        <%- include('../components/header.html') -%>
        <div id="wrap">
            <div class="container">
                <%- include('../components/mypage_nav.html') -%>
                <div id="myInfomation">
                    <div>
                        <h2 class="content-title">문의하기</h2>
                    </div>

                    <form class="inquiry-form">
                        <ul>
                            <li class="inquiry-list">
                                <label>제목</label>
                                <input type="text" placeholder="제목을 입력해 주세요." />
                            </li>
                            <li class="inquiry-list">
                                <label>내용</label>
                                <textarea placeholder="내용을 입력해 주세요."></textarea>
                            </li>
                        </ul>
                        <div class="info-button">
                            <button class="edit-btn">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../components/footer.html') -%>
    </body>

    <script src="/assets/js/common.js"></script>
</html>
