<!DOCTYPE html>
<html lang="kr">
    <head>
        <title>커피런 - 회원정보 변경</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../components/head.html') -%>
        <!-- Cutom CSS & JS -->
        <link rel="stylesheet" href="/assets/css/mypage/mypage.css" />
        <link rel="stylesheet" href="/assets/css/mypage/user_info.css" />
    </head>
    <body>
        <%- include('../components/header.html') -%>
        <div id="wrap">
            <div class="container">
                <%- include('../components/mypage_nav.html') -%>
                <div id="myInfomation">
                    <div>
                        <h2 class="content-title">회원정보</h2>
                    </div>

                    <form class="user-info-form">
                        <ul>
                            <li class="user-info-list">
                                <label>이메일</label>
                                <input type="text" class="user-email" disabled />
                            </li>
                            <li class="user-info-list">
                                <label>비밀번호</label>
                                <input type="text" class="user-password" disabled value="1234" />
                            </li>
                            <li class="user-info-list">
                                <label>이름</label>
                                <input type="text" class="user-name" />
                            </li>
                            <li class="user-info-list">
                                <label>휴대폰 번호</label>
                                <input type="tel" class="user-phone" maxlength="11" />
                            </li>
                            <li class="user-info-list">
                                <label>주소</label>
                                <div class="search-address">
                                    <div>
                                        <input type="text" class="user-address" id="address" />
                                        <button class="addr-btn">검색하기</button>
                                    </div>
                                    <input type="text" class="user-detail-address" name="detailedAddress" />
                                </div>
                            </li>
                        </ul>
                        <div class="info-button">
                            <button type="button" class="unsubscrib">회원탈퇴</button>
                            <button class="edit-btn">수정완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../components/footer.html') -%>
    </body>
    <!-- kakao API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- kakao API -->
    <script src="/assets/js/address_kakao.js"></script>
    <script src="/assets/js/mypage/user_info.js"></script>
    <script src="/assets/js/mypage/delete_account.js"></script>
    <script src="/assets/js/common.js"></script>
</html>
